* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #F4EAE6;
}

#wrapper {
	background-color: #E57F84;
	width: 1024px;
	min-height: 500px;
	margin-left: auto;
	margin-right: auto;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#myCanvas {
	background-color: #acdbe0;	
}

#skudKnap{
  background-color: #F4EAE6;
  padding: 10px;
  border-radius: 10px;
  width: 150px;
  cursor: pointer;
  transition: 0.3s;
}

#skudKnap:hover{
  background-color: #dfd7d4;
}

button {
	margin: 10px;
}
	
.start {
  position: absolute;
  background-color: #ffb;
  padding: 30px;
  border-radius: 10px;
  text-align: center;

  
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#screen {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
}
